.bar{
    background-color:darkcyan;
}

.carousel-item{
    background-color: #D6F0E8;
}

#footer{
    background-color: darkcyan;
}

.collapsible-header{
    background-color: darkcyan;
    color: white;
}

.material-icons{
    color: white;
}